:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "NEXON Lv1 Gothic";
  src: url("/font/NEXONLv1Gothic.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "NEXON Lv1 Gothic", sans-serif;
}

.nexon-font {
  font-family: "NEXON Lv1 Gothic", sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #ffffff;
  height: 100%;
  overflow: hidden; /* ✅ Prevent scrolling on body */
}

body {
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
