.container {
  width: 100%;
  height: 100vh;
  /* overflow: hidden; */
  background: rgba(153, 153, 153, 0.05);
  justify-content: center;
}

/* Apply scroll and hide scrollbar here */
.contentContainer {
  background-color: #ffffff;
  color: #333;
  text-align: center;
  line-height: 1.6;
  max-width: 420px;
  margin: 0 auto;
  position: relative;
  overflow-y: auto;
  height: 100vh;
  /* Hide scrollbar on all browsers */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.contentContainer::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, newer Edge */
}

.tabNavContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: all 0.4s ease;
  opacity: 0;
  transform: translateY(-100%);
}

.tabNavContainer.visible {
  opacity: 1;
  transform: translateY(0);
}

.tabNavContainer.hidden {
  opacity: 0;
  transform: translateY(-100%);
}

.tabNav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  z-index: 1000;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  max-width: 420px;
  margin: 0 auto;
}

.tabNav a {
  font-weight: bold;
  font-size: 11px;
  color: #333;
  text-decoration: none;
  padding: 8px 6px;
  border-radius: 5px;
  transition: background 0.2s;
}

.tabNav a:hover {
  background-color: #f0f0f0;
}

.headerNav {
  pointer-events: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 999;
  max-width: 420px;
  margin: 0 auto;
  background-color: #ffffff;
}

.muteBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.menuBtn {
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 1300;
}

.titleCenter {
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 6px;
  color: #333333;
}

.hamburgerMenuWrapper {
  position: absolute;
  top: 52px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 998;
  background-color: transparent;
}

.hamburgerMenu {
  width: 100%;
  max-width: 420px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 14px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.hamburgerMenu a {
  font-size: 13px;
  color: #333;
  text-decoration: none;
  padding: 8px;
}

.hamburgerMenu a:hover {
  background-color: #f0f0f0;
}

.audioControl {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
}

.muteBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  display: flex;
  align-items: center;
}

.cover {
  height: 100vh;
  /* background-color: #faf3f0; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* border-top: 1px solid #eee; */
  gap: 5px;
  /* background-image: url("/images/bg_updated.png"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

.coverHeader {
  font-size: 36px;
  font-weight: bold;
  margin-top: 10px;
}

.coverTitle {
  display: flex;
  flex-direction: row;
  font-size: 28px;
  font-weight: bold;
  margin-top: 65px;
  /* border-top: 1px solid;
  border-bottom: 1px solid; */
  align-items: center;
  gap: 8px;
  color: #3b417b;
}

.coverSubtitle {
  font-size: 16px;
  color: #333333;
}

.coverDetail {
  font-size: 13px;
  color: #333333;
}

.card {
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: -20px auto 40px;
  padding: 20px;
  border-radius: 12px;
  font-size: 14px;
}

.inviteMessage {
  max-width: 420px;
  margin: 0 auto 10px;
  margin-top: 50px;
  padding: 0px 6px;
  font-size: 13px;
}

.title_en {
  font-family: "League Spartan", sans-serif;
  display: inline-block;
  border: 2px solid transparent;
}


.account {
  display: flex;
  align-items: center;
  background-color: #f8f8f8;
  padding: 10px 16px;
  border-radius: 8px;
  font-weight: 500;
  color: #333;
  text-decoration: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  transition: background 0.2s;
  gap: 7px;
  margin-top: 15px;
  justify-content: space-between;
}

.account img {
  border-radius: 4px;
}

.account:hover {
  background-color: #eee;
}

.copyButton {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 6px 10px;
  font-size: 13px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease;
  color: #333333;
  display: flex;
  align-items: center;
  gap: 10px;
}

.copyButton:hover {
  background-color: #e0e0e0;
}

/* .quote {
  font-style: italic;
  color: #777;
} */

.highlight {
  color: #3b417b;
  font-weight: bold;
  font-size: 16px;
}

.parentInfo {
  margin-top: 30px;
  text-align: center;
  font-size: 16px;
  line-height: 1.8;
  color: #333;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.parentLine {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.parentColumn {
  display: flex;
  flex-direction: column;
}

.parentName {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  /* justify-content: space-between; */
}

.dadName,
.momName {
  font-weight: 500;
  
}

.dadName {
  min-width: 70px;
}

.momName {
  width: 100px;
}

.ourName {
  display: flex;
  flex-direction: column;
}

.ourNameIcon {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.ourNameIcon p {
  font-weight: bold;
  font-size: 16px;
}

.kidsImg {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.oppaPart {
  display: flex;
  flex-direction: column;
}

.oppaPart h3 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

.oppaPart p {
  font-size: 14px;
  font-weight: medium;
}

.locationInfo {
  text-align: center;
  font-size: 13px;
  line-height: 1.8;
  margin-bottom: 10px;
}

.locationName{
  font-weight: 600;
  font-size: 18px;
  margin-top: 15px;
}

.locationFloor{
  color: #888;
  font-size: 14px;
}

.weddingInfoImg {
  border-radius: 4px;
  /* height: auto; */
}

.flipClock {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.flipUnit {
  text-align: center;
}

.flipCard {
  padding: 10px 5px;
  background: #f3f3f3;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 25px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.flipCard span {
  position: relative;
  z-index: 2;
}

.flipLabel {
  margin-top: 8px;
  font-size: 13px;
  color: #444;
  font-weight: 500;
}

.mapContainer {
  width: 100%;
  max-width: 420px;
  height: 350px;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* .navLinks {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 10px;
} */

.mapLinks {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 15px;
}

.navLinks {
  display: flex;
  align-items: center;
  background-color: #f8f8f8;
  padding: 10px 16px;
  border-radius: 8px;
  font-weight: 500;
  color: #333;
  text-decoration: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  transition: background 0.2s;
  gap: 7px;
}

.navLinks img {
  border-radius: 4px;
}

.navLinks:hover {
  background-color: #eee;
}

.phoneIcon {
  display: inline-block;
  font-size: 24px;
  margin-left: 6px;
  cursor: pointer;
  animation: bounce 1.4s infinite;
  position: relative;
}

@keyframes bounce {
  0%, 100% { top: 0; }
  50% { top: -6px; }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* show 3 images per row */
  gap: 4px;
  justify-items: center;
  margin: 20px auto;
  max-width: 400px;
}

.gallery img {
  width: 100%;
  border-radius: 4px;
  object-fit: cover;
}

.showMoreWrapper {
  font-size: 16px;
}

.shareButton {
  background-color: #fee500;
  color: #000;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
}

.footer {
  margin-top: 20px;
  font-size: 12px;
  color: #aaa;
  margin-bottom: 110px;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modalContent {
  position: relative;
  max-width: 420px;
  height: 100%;
  display: flex;
  align-items: center;
  max-height: 90vh;
  flex-direction: column;
}

.modalImage {
  max-width: 100%;
  max-height: 100%;
  /* border-radius: 8px; */
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

.modalClose,
.modalPrev,
.modalNext {
  position: absolute;
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  z-index: 10000;
}

.modalClose {
  top: 10px;
  right: 20px;
}

.modalPrev {
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

.modalNext {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.imageCounter {
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  margin-top: 12px;
}

.subwayInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.subwaylineInfo {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.popupContent {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.closePopup {
  background-color: transparent;
  color: #727272;
  font-size: 15px;
}

.scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: calc(50% - 200px); /* 50% viewport - half of content width (420/2) */
  background: rgba(0, 0, 0, 0.15);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex !important;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  z-index: 1000;
}

.scrollToTopBtn img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.scrollToTopBtn:hover {
  transform: translateY(-3px);
  opacity: 1;
}
